.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 300px;
}

.product-image {
  width: 300px;
  height: 220px;
}

.product-description {
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  row-gap: 30px;
  margin-top: 20px;
}

.product-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  padding-top: 7px;
}

.cart-button {
  background-color: rgb(221, 221, 221);
}

.custom-star {
  margin-bottom: 10px;
}

@media screen and (max-width: 1280px) {
  .product-list {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 950px) {
  .product-list {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 630px) {
  .product-list {
    grid-template-columns: auto;
  }
}
