/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input.star ~ label.star {
  font-size: 20px;
  padding: 2px;
}

input.star:checked ~ label.star:before {
  color: #776bd6ed !important;
}
