<mat-toolbar color="primary">
  <span><a routerLink="/product" class="header-title">Products</a></span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/cart"
  >
    <mat-icon
      matBadge="{{ cartLength }}"
      matBadgePosition="after"
      [matBadgeHidden]="!cartLength"
      matBadgeColor="warn"
      matBadgeSize="medium"
      >add_shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
